/* Fonts import --> Lato, Figtree */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

/* overidding mui default styles */
/* email input styles overide */
.email_input.css-batk84-MuiInputBase-root-MuiFilledInput-root::before {
  content: "";
}

.email_input
  .css-batk84-MuiInputBase-root-MuiFilledInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border: none;
}
.email_input .css-batk84-MuiInputBase-root-MuiFilledInput-root::before {
  border: none;
}

.email_input .css-batk84-MuiInputBase-root-MuiFilledInput-root::after {
  border: none;
}

.email_input .css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: #1e1e1e;
}

.email_input .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #787878;
}

.email_input .css-batk84-MuiInputBase-root-MuiFilledInput-root {
  background-color: #fff;
}

.email_input .css-batk84-MuiInputBase-root-MuiFilledInput-root.Mui-focused {
  background-color: #fff;
}

/* password input styles overide */

.password_input .css-1bl45wc-MuiInputBase-root-MuiFilledInput-root::before {
  content: "";
}

.password_input
  .css-1bl45wc-MuiInputBase-root-MuiFilledInput-root:hover:not(
    .Mui-disabled,
    .Mui-error
  ):before {
  border: none;
}
.password_input .css-1bl45wc-MuiInputBase-root-MuiFilledInput-root::before {
  border: none;
}

.password_input .css-1bl45wc-MuiInputBase-root-MuiFilledInput-root::after {
  border: none;
}

.password_input .css-10botns-MuiInputBase-input-MuiFilledInput-input {
  color: #1e1e1e;
}

.password_input .css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #787878;
}

.password_input .css-1bl45wc-MuiInputBase-root-MuiFilledInput-root {
  background-color: #fff;
}

.password_input .css-1bl45wc-MuiInputBase-root-MuiFilledInput-root.Mui-focused {
  background-color: #fff;
}

/* style for both inputs */
.email_input .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root,
.password_input .css-e4w4as-MuiFormLabel-root-MuiInputLabel-root {
  font-family: "Lato";
}
